/* WeatherForecast.css */
.header {
    text-align: center;
  }
  
  .weather-description {
    display: block;
    margin-top: 10px;
  }
  
  .headline-container {
    margin-top: 20px;
  }
  
  .forecast-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 20px;
  }
  
  .card {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    margin-right: 10px;
    min-width: 200px; /* Adjust the width based on your preference */
  }
  
  .card-title {
    color: #007bff;
  }
  
  .card-text {
    color: #6c757d;
  }
  